.gradient-dark-custom {
  /* fallback for old browsers */
  background: #595959;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to left, rgba(89,89,89,0.5), rgba(0,0,0,0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to left, rgba(89,89,89,0.5), rgba(0,0,0,0.5))
}